
main{

    width: 1700px;
    height: auto;
    background-color: yellow;
    padding: 10px;
    margin: 7px auto;
    border-radius: 50px;
    box-shadow: black 5px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#banner{
    width: 100%;
    height: 400px;
    margin: 10px 0px;
    background-image:url(../image/centralCinema.jpg) ;
    border-radius: 20px ;
    background-size:cover;
    background-repeat: none;
    background-position: center;
}

body{
    background-image: url(../image/centralCinema.jpg);
    background-size: cover;
}

    


